# version: '3.8'

# services:
#   # The Database Service
#   db:
#     image: postgres:15-alpine
#     volumes:
#       - postgres_data:/var/lib/postgresql/data/
#     environment:
#       - POSTGRES_DB=careernode
#       - POSTGRES_USER=careernode_user
#       - POSTGRES_PASSWORD=careernode_pass

#   #  Django App
#   web:
#     build: .
#     command: python manage.py runserver 0.0.0.0:8000
#     volumes:
#       - .:/app
#     ports:
#       - "8000:8000"
#     environment:
#       - POSTGRES_NAME=careernode
#       - POSTGRES_USER=careernode_user
#       - POSTGRES_PASSWORD=careernode_pass
#       - POSTGRES_HOST=db
#       - POSTGRES_PORT=5432
#     depends_on:
#       - db

# volumes:
#   postgres_data:


version: '3.8'

services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    # This block tells Postgres what credentials to START with
    environment:
      - POSTGRES_DB=${POSTGRES_NAME}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    # This passes the credentials into Django
    env_file:
      - .env

volumes:
  postgres_data: